body {
    /* background-color: #eeeeee; */
/* }
#header {
    height: 50px;
    background: #616161;
    color: #000;
    padding: 20px;
    
}
#header a {
    font-size: 1.2em;
}
#branding h1 {
    color: #fff
}

a:link,
a:visited {
    color: #940030
}

div.breadcrumbs {
    background-color: #c0c0c0;
    color: #559E5D
}

div.breadcrumbs a {
    color: #333
}

.inline-group h2,
.module caption {
    background-color: #940030
}

.button,
.inline-group h2,
.module caption,
.module h2,
.submit-row input,
a.button,
input[type=button],
input[type=submit] {
    background: #65ba6e
}

 */
