{% extends 'base.html' %}
{%load static %}
{% block content %}
<div role="main" class="main">
    <div class="owl-carousel owl-carousel-light owl-carousel-light-init-fadeIn owl-theme manual dots-inside dots-horizontal-center show-dots-hover dots-light nav-style-1 nav-inside nav-inside-plus nav-dark nav-lg nav-font-size-lg show-nav-hover mb-0"
        data-plugin-options="{'autoplayTimeout': 7000}" data-dynamic-height="['800px','800px','800px','550px','500px']"
        style="height: 650px;">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item position-relative overlay overlay-show overlay-op-7"
                    style="background-image: url({% static 'img/slider.jpeg' %}); background-size: cover; background-position: center;">
                    <div class="container position-relative z-index-3 h-100">
                        <div class="row justify-content-center align-items-center h-100">
                            <div class="col-lg-7 text-center">
                                <div class="d-flex flex-column align-items-center justify-content-center h-100">
                                    <h3 class="position-relative text-color-light text-5 line-height-5 font-weight-medium ls-0 px-4 mb-2 appear-animation"
                                        data-appear-animation="fadeInDownShorterPlus"
                                        data-plugin-options="{'minWindowWidth': 0}">
                                        <span
                                            class="position-absolute right-100pct top-50pct transform3dy-n50 opacity-7">
                                            <img src="{% static 'img/slides/slide-title-border-light.png' %}"
                                                class="w-auto appear-animation"
                                                data-appear-animation="fadeInRightShorter"
                                                data-appear-animation-delay="250"
                                                data-plugin-options="{'minWindowWidth': 0}" alt="" />
                                        </span>
                                        كوارتر لخدمات التكييف
                                        <span
                                            class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-7">
                                            <img src="{% static 'img/slides/slide-title-border-light.png' %}"
                                                class="w-auto appear-animation"
                                                data-appear-animation="fadeInLeftShorter"
                                                data-appear-animation-delay="250"
                                                data-plugin-options="{'minWindowWidth': 0}" alt="" />
                                        </span>
                                    </h3>
                                    <h1 class="text-color-light font-weight-extra-bold text-12-5 line-height-3 mb-2 appear-animation"
                                        data-appear-animation="blurIn" data-appear-animation-delay="500"
                                        data-plugin-options="{'minWindowWidth': 0}">حلول التكييف التجاري</h1>
                                    <p class="text-4-5 text-color-light font-weight-light opacity-7 text-center mb-5 px-lg-5 appear-animation"
                                        data-appear-animation="blurIn"
                                        data-appear-options="{'startDelay': 1000, 'minWindowWidth': 0, 'animationSpeed': 30}">
                                        متخصصون في صيانة وتركيب أنظمة التكييف </p>
                                    <a href="#" data-toggle="modal" data-target="#formModal"
                                        class="btn btn-light btn-outline btn-rounded text-color-light text-color-hover-dark font-weight-bold text-3 btn-px-5 py-3 appear-animation"
                                        data-appear-animation="fadeInUpShorter" data-appear-animation-delay="2500"
                                        data-plugin-options="{'minWindowWidth': 0}">أطلب خدماتنا </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item position-relative overlay overlay-show overlay-op-7"
                    style="background-image: url({% static 'img/slides/slide-corporate-4-1.jpg' %}); background-size: cover; background-position: center;">
                    <div class="container position-relative z-index-3 h-100">
                        <div class="row justify-content-center align-items-center h-100">
                            <div class="col-lg-7 text-center">
                                <div class="d-flex flex-column align-items-center justify-content-center h-100">
                                    <h3 class="position-relative text-color-light text-5 line-height-5 font-weight-medium ls-0 px-4 mb-2 appear-animation"
                                        data-appear-animation="fadeInDownShorterPlus"
                                        data-plugin-options="{'minWindowWidth': 0}">
                                        <span
                                            class="position-absolute right-100pct top-50pct transform3dy-n50 opacity-7">
                                            <img src="{% static 'img/slides/slide-title-border-light.png' %}"
                                                class="w-auto appear-animation"
                                                data-appear-animation="fadeInRightShorter"
                                                data-appear-animation-delay="250"
                                                data-plugin-options="{'minWindowWidth': 0}" alt="" />
                                        </span>
                                        كوارتر لخدمات التكييف
                                        <span
                                            class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-7">
                                            <img src="{% static 'img/slides/slide-title-border-light.png' %}"
                                                class="w-auto appear-animation"
                                                data-appear-animation="fadeInLeftShorter"
                                                data-appear-animation-delay="250"
                                                data-plugin-options="{'minWindowWidth': 0}" alt="" />
                                        </span>
                                    </h3>
                                    <h1 class="text-color-light font-weight-extra-bold text-12-5 line-height-3 mb-2 appear-animation"
                                        data-appear-animation="blurIn" data-appear-animation-delay="500"
                                        data-plugin-options="{'minWindowWidth': 0}">نفكر .. نخطط .. ننفذ </h1>
                                    <p class="text-4-5 text-color-light font-weight-light opacity-7 text-center mb-5 px-lg-5 appear-animation"
                                        data-appear-animation="blurIn"
                                        data-appear-options="{'startDelay': 1000, 'minWindowWidth': 0, 'animationSpeed': 30}">
                                        رواد تركيب و صيانة أنظمة التكييف
                                    </p>
                                    <a href="#" data-toggle="modal" data-target="#formModal"
                                        class="btn btn-light btn-outline btn-rounded text-color-light text-color-hover-dark font-weight-bold text-3 btn-px-5 py-3 appear-animation"
                                        data-appear-animation="fadeInUpShorter" data-appear-animation-delay="2500"
                                        data-plugin-options="{'minWindowWidth': 0}">أطلب خدماتنا </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="owl-item position-relative overlay overlay-show overlay-op-7"
                    style="background-image: url(img/slides/slide-corporate-4-2.jpg); background-size: cover; background-position: center;">
                    <div class="container position-relative z-index-3 h-100">
                        <div class="row justify-content-center align-items-center h-100">
                            <div class="col-lg-7 text-center">
                                <div class="d-flex flex-column align-items-center justify-content-center h-100">
                                    <h3 class="position-relative text-color-light text-5 line-height-5 font-weight-medium ls-0 px-4 mb-2 appear-animation"
                                        data-appear-animation="fadeInDownShorterPlus"
                                        data-plugin-options="{'minWindowWidth': 0}">
                                        <span
                                            class="position-absolute right-100pct top-50pct transform3dy-n50 opacity-7">
                                            <img src="img/slides/slide-title-border-light.png"
                                                class="w-auto appear-animation"
                                                data-appear-animation="fadeInRightShorter"
                                                data-appear-animation-delay="250"
                                                data-plugin-options="{'minWindowWidth': 0}" alt="" />
                                        </span>
                                        WE ARE DESIGN
                                        <span
                                            class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-7">
                                            <img src="img/slides/slide-title-border-light.png"
                                                class="w-auto appear-animation"
                                                data-appear-animation="fadeInLeftShorter"
                                                data-appear-animation-delay="250"
                                                data-plugin-options="{'minWindowWidth': 0}" alt="" />
                                        </span>
                                    </h3>
                                    <h1 class="text-color-light font-weight-extra-bold text-12-5 line-height-3 mb-2 appear-animation"
                                        data-appear-animation="blurIn" data-appear-animation-delay="500"
                                        data-plugin-options="{'minWindowWidth': 0}">SPECIALISTS</h1>
                                    <p class="text-4-5 text-color-light font-weight-light opacity-7 text-center mb-5 px-lg-5"
                                        data-plugin-animated-letters
                                        data-plugin-options="{'startDelay': 1000, 'minWindowWidth': 0, 'animationSpeed': 30}">
                                        Designers thinking outside the box, learn more about us.</p>
                                    <a href="#"
                                        class="btn btn-light btn-outline btn-rounded text-color-light text-color-hover-dark font-weight-bold text-3 btn-px-5 py-3 appear-animation"
                                        data-appear-animation="fadeInUpShorter" data-appear-animation-delay="2500"
                                        data-plugin-options="{'minWindowWidth': 0}">GEST STARTED NOW!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="owl-dots mb-5">
            <button role="button" class="owl-dot active"><span></span></button>
            <button role="button" class="owl-dot"><span></span></button>
        </div>
    </div>
    <!-- <section class="section bg-color-light border-0 m-0">
        <div class="container">
            <div class="row text-center text-md-left mt-4">
                <div class="col-md-4 mb-4 mb-md-0 appear-animation" data-appear-animation="fadeInLeftShorter"
                    data-appear-animation-delay="200">
                    <div class="row justify-content-center justify-content-md-start">
                        <div class="col-4">
                            <img class="img-fluid mb-4" src="img/icons/seo-grey.png" alt="">
                        </div>
                        <div class="col-lg-8">
                            <h2 class="font-weight-bold text-5 line-height-5 mb-1">SEO Optimization</h2>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mb-md-0 appear-animation" data-appear-animation="fadeIn">
                    <div class="row justify-content-center justify-content-md-start">
                        <div class="col-4">
                            <img class="img-fluid mb-4" src="img/icons/marketing-grey.png" alt="">
                        </div>
                        <div class="col-lg-8">
                            <h2 class="font-weight-bold text-5 line-height-5 mb-1">Pro Marketing Ads</h2>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 appear-animation" data-appear-animation="fadeInRightShorter"
                    data-appear-animation-delay="200">
                    <div class="row justify-content-center justify-content-md-start">
                        <div class="col-4">
                            <img class="img-fluid mb-4" src="img/icons/support-grey.png" alt="">
                        </div>
                        <div class="col-lg-8">
                            <h2 class="font-weight-bold text-5 line-height-5 mb-1">Secure Support</h2>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <section class="section section-height-3 bg-color-grey-scale-1 border-0 m-0 appear-animation"
        data-appear-animation="fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-12 align-self-center p-static order-2 text-center">
                    <h1 class="text-dark font-weight-bold text-8">خدمــاتــنـا</h1>
                </div>
            </div>
            <div class="row">
                {% for service in services %}
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
                    data-appear-animation-delay="400">

                    <div class="card card-background-image-hover border-0"
                        style="background-image: url({{service.image.url}});">
                        <div class="card-body text-center p-5">
                            <i class="icon-layers icons text-color-primary text-10"></i>
                            <h4 class="card-title mt-2 mb-2 text-5 font-weight-bold">{{service}}</h4>
                            <p class="card-text">{{service.short_description}}</p>

                            <a href="#" class="btn btn-dark btn-modern" data-toggle="modal" data-target="#formModal">طلب
                                الخدمة</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="section section-height-3 section-primary h-100 m-0 border-0">
        <div class="justify-content-center m-0">
            <div class="mb-5 appear-animation" data-appear-animation="fadeInRightShorter">
                <h2 class="text-light text-center text-7"><strong>من نحن </strong></h2>
                <div style="width: 80% ; margin :auto ; text-align :center">
                    <p class="text-center">
                        شركة كوارتر للتكييف واحدة من الشركات الرائدة في مجال التكييف والتبريد واعمال
                        التهوية،
                        حيث نقوم بتولي مهام كافة المشاريع التجارية والسكنية من دراسة وتصميم وتوريد وتنفيذ
                        وصيانة في مجال التكييف والتبريد.



                    </p>
                    <a href="{% url 'about' %}"
                        class="btn btn-light btn-outline btn-rounded text-color-light text-color-hover-dark font-weight-bold text-3 btn-px-5 py-3 appear-animation mt-3"
                        data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500"
                        data-plugin-options="{'minWindowWidth': 0}">المزيد </a>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-height-3 bg-color-grey-scale-1 border-0 m-0 appear-animation"
        data-appear-animation="fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-12 align-self-center p-static order-2 text-center">
                    <h1 class="text-dark font-weight-bold text-8">أعمالنا السابقة</h1>
                </div>
            </div>

            <div class="row portfolio-list sort-destination" data-sort-id="portfolio">
                {% for project in projects %}
                <div class="col-sm-6 col-lg-4  mb-2">
                    <div class="card">
                        <img class="card-img-top" src="{{project.main_image.url}}" alt="Card Image">
                        <div class="card-body text-center">
                            <h4 class="card-title mb-1 text-4 font-weight-bold">{{project}}</h4>

                            <a href="{% url 'project' project.slug %}"
                                class="read-more text-color-primary font-weight-semibold text-2">
                                التفاصيل
                                <i class="fas fa-angle-right position-relative top-1 ml-1"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor%}


            </div>
            <div style="margin: auto; text-align : center">
                <a href="{% url 'projects' %}" class="btn btn-modern text-2 btn-primary mt-4">المزيد من أعمالنا
                </a><span
                    class="arrow hlb d-none d-md-block appear-animation animated rotateInUpLeft appear-animation-visible"
                    data-appear-animation="rotateInUpLeft"
                    style="left: 110%; top: -40px; animation-delay: 100ms;"></span>

            </div>
        </div>
    </section>


</div>
{% endblock %}